[Unit]
Description=Desktop slideshow with graceful fade
After=systemd-user-sessions.service

[Install]
WantedBy=default.target

[Service]
ExecStart=python3 /home/user/Customization/wallpaper.py
